html
  head
    title='You Do cker'
    link(
        rel='stylesheet',
        href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css',
        integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh',
        crossorigin='anonymous'
    )
  body
    div.container
      div.jumbotron
        h1 You Do cker!
        p Hey there!
        p This is a simple web app created as demo for my docker article.
        p Please visit!
        a(class='btn btn-dark', href='https://machinelearnit.com/', role='button') MachinelearnIT